body{
  margin: 0;
  padding: 0;
}

.main{
  position: relative;
  display: flex;
  min-height: 50vw;
  background: #80471F;
}

header{
  background: #EF843A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
}

#searchBar{
  margin: 1px;
  width: 500px;
  height: 25px;
}

#searchBtn{
  height: 31px;
  margin-right: 10px;
}

h1{
  margin: 10px;
}

h2{
  margin-left: 10px;
}

ul{
  width: 150px;
  margin: 10px;
  height: 500px;
}

li{
  padding-left: 10px;
  margin: 10;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

li:hover{
  color: black;
  background: #FF9D57;

}

.barra-lateral{
  border-right: 1px solid white;
  background: #EF843A;
}

.barra-lateral ul{
  list-style-type: none;
  padding: 0;
  line-height: 1.5;
}

.main-area{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 50px;
  gap: 10px;
  margin: 10px 10px 0 10px;
  align-items: center;
  padding-bottom: 3rem;
  
}

.videos-recomendados{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 10px;
  height: 100px;
  width: 50%;
}

.img-resize{
  width: 150px;
  height: 100px;
}

.video-page{
  margin: 10px;
  height: auto;
  max-width: 70%;
}

.video-page > h2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
}

video{
  width: 100%;
}

.video-area{
  background: white;
  height: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  align-items: left;
  justify-items: center;
  height: auto;
}

.video-area img{
  width: 100%;
  height: 200px;
}

.video-area > p{
  color: black;
  margin-left: 10px;
}

.video-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-curtir{
  height: 30px;
  width: 80px;
}


footer{
  background: #323B3E;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}

footer h1{
  color: white;
  margin: 0;
  margin-left: 10px;
}

#video-footer{
  position: absolute;
  bottom: 0;
}


@media (max-width: 500px){

  header{
      background: #EF843A;
      display: flex;
      justify-content: space-around;
      width: 100vw;
  }
  
  h1, input[type=text]{
      margin: 10px;
  }

  .main-area{
      display: grid;
      grid-template-columns: 1fr;
  }

  footer{
      background: #323B3E;
      position: relative;
      bottom: 0;
      width: 100%;
      height: 3rem;
      margin: 0;
  }

  #video-footer{
      position: absolute;
  }

  .video-page{
      margin: 10px;
      height: auto;
      width: 90%;
  }
  
  video{
      width: 100%;
  }
  

}