body{
    display: flex;
    background: lightgray;
}

section {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px solid black;
    margin: 10px;
    border-radius: 20px;
}

h1, h2{
    margin: 10px;
}

.valorDespesa, .tipoDespesa, .descricaoDespesa, .btn, .valorMinimo, .valorMaximo, .extrato {
    margin: 10px;
}
